{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>#{{ issue.pk }} {{ issue.summary }}</h1>
    <h4>{{ issue.description|default_if_none:'' }}</h4>
    <p></p>
    <p>Status: {{ issue.status.title }}</p>
    <p>Type: {% for type in issue.type.all %}
    {{ type.title }},
    {% endfor %}
    </p>
    <p>Created: {{ issue.created_at }}</p>
    <p>Updated: {{ issue.updated_at }}</p>
    <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
    <a href="{% url 'edit_issue' issue.pk %}" class="btn btn-primary">Edit</a>
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
{% include 'common/delete_modal.html' %}
{% endblock %}