a {
    text-decoration: none;
}
h1 {
    margin: 50px 0 50px 0;
}

.pagination {
    text-align: center;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .page-disabled {
    color: #fff;
    background-color: #9B9D9E;
    border-color: #9B9D9E;
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

.account-form > .mb-3 {
    width: 60%;
    margin: auto;
}
.text-muted {
    color: black!important;
}
.users-block {
    margin: 30px 0 30px 0;
}
.profile-img {
    height: 250px;
    width: 250px;
}