{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Profile of {{ user_obj.get_full_name }}</h1>

    <div class="card mb-3" style="border: none">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ user_obj.profile.avatar.url|default:'/uploads/user_pics/no_image.png' }}" class="img-fluid rounded-start profile-img" alt="profile image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Username: {{ user_obj.username }}</h5>
                    <p class="card-text">First name: {{ user_obj.first_name }}</p>
                    <p class="card-text">Last name: {{ user_obj.last_name }}</p>
                    <p class="card-text">GitHub: <a href="{{ user_obj.profile.github_link }}">{{ user_obj.profile.github_link }}</a></p>
                    <h5 class="card-text">About info: </h5>
                    <p class="card-text">{{ user_obj.profile.about_info }}</p>
                </div>
                <div>
                    <a href="{% url 'accounts:user_update' %}" class="btn btn-dark">Edit</a>
                    <a href="{% url 'accounts:user_password_change' %}" class="btn btn-dark">Change password</a>
                </div>
            </div>
        </div>
    </div>
    <h1>Projects</h1>
    {% include 'partial/project/partial_project_list.html' %}
{% endblock %}