{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 style="text-align: center">Change password</h1>
    <form action="{% url 'accounts:user_password_change' %}" method="post" class="text-center account-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="password" class="form-label">New password:</label>
            <input class="form-control" type="password" name="{{ form.password.name }}" id="password">
        </div>
        <div class="mb-3">
            <label for="password_confirm" class="form-label">Password confirm:</label>
            <input class="form-control" type="password" name="{{ form.password_confirm.name }}" id="password_confirm">
        </div>
        <div class="mb-3">
            <label for="old_password" class="form-label">Old password:</label>
            <input class="form-control" type="password" name="{{ form.old_password.name }}" id="old_password">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
{% endblock %}