{% csrf_token %}
<div class="mb-3">
    <label for="title" class="form-label">{{ form.summary.label }}</label>
    <input type="text" class="form-control" id="title" name="{{ form.summary.name }}" value="{{ issue.summary }}">
</div>
<div class="mb-3">
    <label for="description" class="form-label">{{ form.description.label }}</label>
    <textarea name="{{ form.description.name }}" class="form-control" id="description"
              rows="3">{{ issue.description|default_if_none:'' }}</textarea>
</div>
<div class="mb-3">
    <label for="status" class="form-label">{{ form.status.label }}</label>
    <select name="{{ form.status.name }}" class="form-select" aria-label="Default select example">
        {% for choice in form.status.field.queryset %}
            {% if choice.pk == issue.status %}
                <option value="{{ choice.pk }}" selected>{{ choice.title }}</option>
            {% else %}
                <option value="{{ choice.pk }}">{{ choice.title }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label for="type" class="form-label">{{ form.type.label }}</label>
    <select name="{{ form.type.name }}" class="form-select" aria-label="Default select example">
        {% for choice in form.type.field.queryset %}
            {% if choice.pk == issue.type %}
                <option value="{{ choice.pk }}" selected>{{ choice.title }}</option>
            {% else %}
                <option value="{{ choice.pk }}">{{ choice.title }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<button type="submit" class="btn btn-dark">{{ btn_title }}</button>