{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>#{{ project.pk }} {{ project.title }}</h1>
    <h4>{{ project.description|default_if_none:'' }}</h4>
    <p>Start date: {{ project.start_date }}</p>
    <p>End date: {{ project.end_date|default_if_none:'Not set' }}</p>
    <p class="users-block">Users:
        {% for user in project.users.all %}
            {% if user == project.users.last %}
                <a href="{% url 'accounts:user_profile' user.pk %}">{{ user.get_full_name }}</a>
            {% else %}
                <a href="{% url 'accounts:user_profile' user.pk %}">{{ user.get_full_name }}</a>,
            {% endif %}
        {% empty %}
            No users
        {% endfor %}
    </p>
    <a href="{% url 'issue_tracker:project_list' %}" class="btn btn-dark">Project list</a>
    {% if perms.issue_tracker.add_issue and request.user in project.users.all or request.user.is_superuser %}
        <a href="{% url 'issue_tracker:project_issue_create' project.pk %}" class="btn btn-dark">Create project
            issue</a>
    {% endif %}
    {% if perms.issue_tracker.change_project %}
        <a href="{% url 'issue_tracker:project_edit' project.pk %}" class="btn btn-dark">Edit project</a>
    {% endif %}
    {% if perms.issue_tracker.change_project_users and request.user in project.users.all or request.user.is_superuser %}
        <a href="{% url 'issue_tracker:project_users_update' project.pk %}" class="btn btn-dark">Manage users</a>
    {% endif %}
    {% if perms.issue_tracker.delete_project %}
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
        {% include 'partial/common/delete_project_modal.html' %}
    {% endif %}
    <h1>Issues</h1>
    {% for issue in project.issues.all %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'issue_tracker:detail_issue' issue.pk %}"> {{ issue.summary }}</a></h5>
                        <p class="card-text"><small class="text-muted">#{{ issue.pk }} Created
                            at {{ issue.created_at }}</small></p>
                        <p class="card-text"><small class="text-muted">{% for type in issue.type.all %}
                            {% if type == issue.type.last %}
                                {{ type.title }}
                            {% else %}
                                {{ type.title }},
                            {% endif %}
                        {% endfor %}</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ issue.status.title }}</h5>
                        <p class="card-text"><small class="text-muted">Updated at {{ issue.updated_at }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h3>The project does not have any issues</h3>
    {% endfor %}
{% endblock %}